/* poppins-400-normal */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

/* poppins-600-normal */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/poppins-v24-latin-600.woff2") format("woff2");
}

/* poppins-700-normal */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/poppins-v24-latin-700.woff2") format("woff2");
}
